{% load static %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% comment %} <script src="{% static 'glightbox/js/glightbox.js' %}"></script> {% endcomment %}
<script src="{% static 'js/lightbox.min.js' %}"></script>


<script>
    $(document).ready(function(){
        let url = $("a[href='{{request.path}}']");
        $(url).addClass("active");
        
        $(".alert").delay(10000).slideUp(200, function () {
          $(this).alert('close');
        });
      }) 
</script>